@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.eot');
    src: url('Agrandir-Regular.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-Regular.woff') format('woff'),
        url('Agrandir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir Wide';
    src: url('Agrandir-WideBlack.eot');
    src: url('Agrandir-WideBlack.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-WideBlack.woff') format('woff'),
        url('Agrandir-WideBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argesta Display';
    src: url('ArgestaDisplay-Regular.eot');
    src: url('ArgestaDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('ArgestaDisplay-Regular.woff') format('woff'),
        url('ArgestaDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argesta Hairline';
    src: url('ArgestaHairline-Regular.eot');
    src: url('ArgestaHairline-Regular.eot?#iefix') format('embedded-opentype'),
        url('ArgestaHairline-Regular.woff2') format('woff2'),
        url('ArgestaHairline-Regular.woff') format('woff'),
        url('ArgestaHairline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


