@font-face {
  font-family: 'Agrandir';
  src: url('@/assets/fonts/Agrandir-Regular.eot');
  src: url('@/assets/fonts/Agrandir-Regular.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Agrandir-Regular.woff') format('woff'),
      url('@/assets/fonts/Agrandir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Agrandir Narrow';
  src: url('@/assets/fonts/Agrandir-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Argesta Display';
  src: url('@/assets/fonts/ArgestaHairline-Regular.eot');
  src: url('@/assets/fonts/ArgestaHairline-Regular.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/ArgestaHairline-Regular.woff') format('woff'),
      url('@/assets/fonts/ArgestaHairline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

